:root {
    --starbucks-green: #006241;
    --coral-red: #D3705A;
    --light-green: #D4E9E2;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body > header {
    height: 9.5vh;
    display: flex;
    align-items: center;
    padding-left: 3vw;
    background-color: var(--starbucks-green);
    color: white;
}

#search-box {
    height: 80px;
    /* height: 250px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding-left: 3vw;
}

#search-bar {
    background-color: #e0e0e0;
    height: 40px;
    width: 94vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

#search-bar img {
    margin-left: 15px;
}

#search-bar input {
    background-color: #e0e0e0;
    border: none;
    margin-left: 15px;
    width: 90vw;
    height: 20px;
}

#search-bar input:focus {
    background-color: white;
}

#search-result {
    width: 94vw;
    height: 150px;
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-items: center;
    justify-content: space-between;
    row-gap: 30px;
    align-items: center;
}

section > header {
    height: 40px;
    background-color: var(--coral-red);
    color: white;
    display: flex;
    align-items: center;
    padding-left: 3vw;
}

#working > header {
    background-color: var(--starbucks-green);
}

#ready-content {
    display: flex;
    flex-direction: column;
    height: 288px;
    overflow-y: scroll;
}

#working-content {
    display: flex;
    flex-direction: column;
    height: 288px;
    /* height: 118px; */
    overflow-y: scroll;
}

.orders {
    margin-top: 30px;
    margin-bottom: 30px;
    display: grid;
    grid-template-columns: 23% 23% 23% 23%;
    justify-items: center;
    justify-content: space-evenly;
    row-gap: 30px;
    align-items: center;
}

.order-card {
    background-color: var(--light-green);
    height: 150px;
    width: 280px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.order-card > h3 {
    display: inline;
    padding-left: 14px;
    padding-top: 10px;
}

.order-card span {
    color: var(--starbucks-green);
    font-weight: bold;
}

.order-card ul {
    padding-left: 30px;
}

.ready-box {
    background-color: var(--coral-red);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 35px;
    border-radius: 0 0 10px 10px;
    color: white;
}

.waiting-box {
    background-color: var(--starbucks-green);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    height: 35px;
    border-radius: 0 0 10px 10px;
    color: white;
}

.search {
    background-color: #e0e0e0;
    height: 40px;
    width: 94vw;
    border-radius: 10px;
    display: flex;
    align-items: center;
}